[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/java-abdul
[access "refs/for/refs/*"]
	read = group user/java-abdul
	push = group user/java-abdul
	label-Code-Review = -2..+2 group user/java-abdul
	label-Verified = -1..+1 group user/java-abdul
	rebase = group user/java-abdul
	removeReviewer = group user/java-abdul
	submit = group user/java-abdul
[access "refs/heads/*"]
	read = group user/java-abdul
	create = group user/java-abdul
	push = +force group user/java-abdul
	pushMerge = group user/java-abdul
[access "refs/tags/*"]
	push = group user/java-abdul
	push = +force group user/java-abdul
